<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Geegstack E-commerce</title>
</head>
<body>
    <header class="flex">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </nav>

        <!-- <img src="images/geegstack-standalone.png" alt="Geegstack Logo" id="logo"> -->
        <h3 class="title">Geegstack Store</h3>

        <!-- <img src="../images/search-icon.svg" alt="Search" id="search-icon"> -->
     
        <!-- <div>
            <a href="/products/new">
                <button class="price">Add Product</button>
            </a>

            <form 
            action="/admin/logout" 
            method="post" 
            onsubmit="return confirm('Are you sure you want to logout?')"
            >
                <button type="submit">Logout</button>
            </form>
        </div> -->

        <a href="/admin/profile">
            <button class="price">Profile</button>
        </a>

        <!-- <a href="/admin/login">
            <button class="price">Login</button>
        </a> -->
        
    </header>
    <main class="product-details">
        <h2>Welcome back, Admin.</h2>
        <div class="flex">
            <a href="/products/new">
                <button class="price">Add Product</button>
            </a>
            &nbsp; &nbsp;
            <form 
            action="/admin/logout" 
            method="post" 
            onsubmit="return confirm('Are you sure you want to logout?')"
            >
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        </div>
        <hr>

        <h2>My products</h2>
        <section class="admin-products flex">
            <article class="product">
                <img src="<%= product.imageUrl %>" alt="">
                <h3><%= product.name %></h3>
                <div class="flex">
                    <p class="price"><%= product.price %></p>
                    <p class="category"><%= product.category.charAt(0).toUpperCase() + product.category.slice(1) %></p>
                </div>
                <a href="/products/id">View product</a>
            </article>
        </section>
     
    </main>
    <footer>
        <p>&copy; Geegstack Academy, 2023</p>
    </footer>
    </body>
    </html>