<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Geegstack E-commerce</title>
</head>
<body>
    <header class="flex">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </nav>

        <!-- <img src="images/geegstack-standalone.png" alt="Geegstack Logo" id="logo"> -->
        <h3 class="title">Geegstack Store</h3>

        <!-- <img src="../images/search-icon.svg" alt="Search" id="search-icon"> -->
     
        <!-- <div>
            <a href="/products/new">
                <button class="price">Add Product</button>
            </a>

            <form 
            action="/admin/logout" 
            method="post" 
            onsubmit="return confirm('Are you sure you want to logout?')"
            >
                <button type="submit">Logout</button>
            </form>
        </div> -->

        <a href="/admin/profile">
            <button class="price">Profile</button>
        </a>

        <!-- <a href="/admin/login">
            <button class="price">Login</button>
        </a> -->
        
    </header>
    <main class="product-details">
        <h2>Admin Signup</h2>
        <p class="error"></p>
        <div class="form-container">
            <form action="/admin/signup" method="post">
                <div>
                    <label for="name">
                        <p>First Name</p>
                    </label>
                    <input type="text" name="fname" value="<%= form[0]?.fname %>">
                </div>
                <div>
                    <label for="name">
                        <p>Last Name</p>
                    </label>
                    <input type="text" name="lname" value="<%= form[0]?.lname %>">
                </div>
                <div>
                    <label for="email">
                        <p>Email</p>
                    </label>
                    <input type="email" name="email" value="<%= form[0]?.email %>">
                </div>
                <div>
                    <label for="password">
                        <p>Password</p>
                    </label>
                    <input type="password" name="password" id="" value="<%= form[0]?.password %>">
                </div>
                <input type="submit" value="Signup">
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; Geegstack Academy, 2023</p>
    </footer>
    </body>
    </html>